/** == DUSKY Color Palette
<palette>
  <color name="Pine Tree" hex="313628" r="49" g="54" b="40" />
  <color name="Laurel Green" hex="a6ae98" r="166" g="174" b="152" />
  <color name="Ivory" hex="#f7faf0" r="247" g="250" b="240" />
  <color name="Middle Grey" hex="979187" r="151" g="145" b="135" />
  <color name="Dark Liver" hex="544f53" r="84" g="79" b="83" />
</palette>
<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="03768526682767458">new CoolorsPaletteWidget("03768526682767458", ["313628","a6ae98","f7faf0","979187","544f53"]); </script>
**/

$dark-top-bar: true;

/* SCSS HEX */
$pine-tree: #313628;
$laurel-green: #8B9677;
$ivory: #FBFCF8;
$middle-grey: #979187;
$dark-liver: #544f53;
$white: #FEFFF9;

/** main color scheme **/
$main-text-color: $dark-liver;
$main-bg: $white;
$main-link: darken($laurel-green, 15%);
$main-link-hover: $dark-liver;
$main-headers: darken($laurel-green, 15%);

/** dark-background color scheme **/
$dark-text-color: $ivory;
$dark-bg: $dark-liver;
$dark-link: lighten($middle-grey, 15%);
$dark-link-hover: lighten($laurel-green, 15%);
$dark-headers: $middle-grey;

/** accent-background color scheme **/
$accent-text-color: $pine-tree;
$accent-bg: lighten($middle-grey,15%);
$accent-link: darken($dark-liver, 15%);
$accent-link-hover: darken($laurel-green, 20%);
$accent-headers: darken($dark-liver, 15%);
